body {
  background: black;
}

.MCTrial-header {
  background-image: linear-gradient(#2e1503, #65350f, #2e1503);
  overflow: hidden;
  border-bottom: 5px solid black;
}

.MCTrial-header h1 {
  color: goldenrod;
  text-align: center;
  font-family: "Bookman", serif;
  font-variant: small-caps;
  font-weight: bold;
}

.pictureSlideshow {
  width: 500px;
  height: 250px;
  overflow: hidden;
  border: 5px solid goldenrod;
  margin: auto auto;
}

.teamPictures {
  display: none;
  width: 100%;
  font-variant: small-caps;
  font-weight: bold;
}

.aboutUs h1{
  color: goldenrod;
  font-family: "Bookman", serif;
  
}

.aboutUs p {
  color: white;
  font-family: "Bookman", serif;
}
