@import "../../Global.css";

a {
    color: var(--default-text);
    font-family: "Bookman", serif;
    font-size: 16px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
}

a:hover {
    color: goldenrod;
}

.calendar {
  text-align: center;
  padding-top: 20px;
}

.calendar iframe {
  border: 0;
  width: 90%;
  height: 600px;
}
