body {
  background: black;
}

.MCTrial-header {
  background-image: linear-gradient(#2E1503, #65350F, #2E1503);
  overflow: hidden;
  border-bottom: 5px solid black;
}

#topbar {
  display: table;
  width: 100%;
  text-align: center;
}

.MCTrial-header h1 {
  color: goldenrod;
  text-align: center;
  font-family: "Bookman", serif;
  font-variant: small-caps;
  font-weight: bold;
  padding-bottom: 10px;
  display: table-cell;
  font-size: 32px;
}

#headerleft {
  float: left;
  display: table-cell;
  border-collapse: collapse;
  padding-right: 20px;
  padding-top: 20px;
  width: 50px;
  transform: scaleX(-1)
}

#headerright {
  float: right;
  display: table-cell;
  border-collapse: collapse;
  padding-right: 20px;
  padding-top: 20px;
  width: 50px;
}

.MCTrial-header a {
  float: left;
  color: goldenrod;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Bookman", serif;
  font-style: italic;
  font-size: 20px;
}

.MCTrial-header a:hover {
  background-color: black;
  color: gold;
}

.calendar {
    text-align: center;
    padding-top: 20px;
}
.calendar iframe {
  border: 0;
  width: 800px;
  height: 600px;
}