@import "../../Global.css";

.pictureSlideshow {
  width: 500px;
  height: 250px;
  overflow: hidden;
  border: 5px solid goldenrod;
  margin: auto auto;
}

.teamPictures {
  display: none;
  width: 100%;
  font-variant: small-caps;
  font-weight: bold;
}

.coaches h3 {
  color: var(--default-text);
  font-family: "Bookman", serif;
  font-style: italic;
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.coaches h4 {
  color: goldenrod;
  font-family: "Bookman", serif;
  font-variant: bold;
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 5px;
}

.aboutUs img {
  float: right;
  padding-left: 50px;
  max-width: 300px;
  width: 40%;
  border-top: 10px solid #2e1503;
  border-left: 10px solid #2e1503;
  border-right: 10px solid #65350f;
  border-bottom: 10px solid #65350f;
}

.coaches {
  padding-left: 10px;
  padding-right: 10px;
}

.coaches h2 {
  padding-left: 0px;
}

.coaches-labels,
.coaches-info {
  width: 100%;
  display: table-row;
}

.coaches-labels div,
.coaches-info div {
  border: 2px solid var(--default-text);
  display: table-cell;
  width: 30%;
}

.coaches-info img {
  max-width: 200px;
  width: 90%;
  height: auto;
  display: block;
  margin: auto auto;
}