:root {
  --default-bg: black;
  --default-text: white;
}

body {
  background: var(--default-bg);
  padding: 0;
  margin: 0;
}

#light {
  color: black;
}

#dark {
  color: white;
}


#labels {
  display: table-column;
  float: right;
  padding-right: 5px;
}

.colormode h6 {
  display: table-row;
  text-align: center;
  font-family: "Bookman", serif;
  font-size: 16px;
}

.switch {
  position: relative;
  float: right;
  display: block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: darkslategrey;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.MCTrial-header {
  overflow: hidden;
  width: 100%;
}

#topbar {
  background-image: linear-gradient(#2e1503, #65350f);
  display: table;
  width: 100%;
  text-align: center;
}

.MCTrial-header h1 {
  color: goldenrod;
  text-align: center;
  font-family: "Bookman", serif;
  font-variant: small-caps;
  font-weight: bold;
  padding-bottom: 10px;
  display: table-cell;
  font-size: 32px;
}

#headerleft {
  float: left;
  display: table-cell;
  border-collapse: collapse;
  padding-right: 20px;
  padding-top: 20px;
  width: 50px;
  transform: scaleX(-1);
}

#headerright {
  float: right;
  display: table-cell;
  border-collapse: collapse;
  padding-right: 20px;
  padding-top: 20px;
  width: 50px;
}

#divider {
  background-color: #65350f;
  margin: 0px;
  padding-bottom: 8px;
}

#divider hr {
  background-color: goldenrod;
  color: goldenrod;
  text-align: center;
  border-width: 0px;
  height: 2px;
  width: 50%;
}

#subbar {
  background-image: linear-gradient(#65350f, #2e1503);
  border-bottom: 5px solid var(--default-bg);
  padding-bottom: 10px;
  width: 100%;
  display: table;
  text-align: center;
}

#subbar h1 {
  font-variant: normal;
  font-style: italic;
  font-size: 28px;
}

#linkbar {
  background-image: linear-gradient(#2e1503, #65350f, #2e1503);
  border-bottom: 5px solid var(--default-bg);
}

.MCTrial-header a {
  float: left;
  color: goldenrod;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Bookman", serif;
  font-style: italic;
  font-size: 20px;
}

.MCTrial-header a:hover {
  background-color: black;
  color: gold;
}

.MCTrial-header button {
  float: left;
  color: goldenrod;
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Bookman", serif;
  font-style: italic;
  font-size: 20px;
}

.MCTrial-header button:hover {
  background-color: black;
  color: gold;
  cursor: pointer;
}

.navHidden {
  text-align: center;
  display: none;
  position: absolute;
  left: 80px;
  top: 242px;
}

.navHidden a {
  background: linear-gradient(#2e1503, #65350f, #2e1503);
  border: solid 1px goldenrod;
  width: 100%;
}

.navHidden a:hover {
  background: black;
}

h2 {
  color: goldenrod;
  padding-left: 10px;
  padding-top: 25px;
  line-height: 0px;
  text-decoration: underline overline dotted goldenrod;
  font-family: "Bookman", serif;
  font-weight: bold;
  font-size: 28px;
}

p {
  color: var(--default-text);
  font-family: "Bookman", serif;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.linkbutton {
  text-align: center;
}

.linkbutton a{
  background-image: linear-gradient(#2e1503, #65350f, #2e1503);
  border: none;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  border-radius: 100px;
  color: goldenrod;
  text-align: center;
  font-family: "Bookman", serif;
  font-style: italic;
  font-size: 28px;
}