@import "Global.css";

#topbar {
  background-image: linear-gradient(#2e1503, #65350f, #2e1503);
  border-bottom: 5px solid var(--default-bg);
}

.navHidden {
  top: 165px;
}

.pictureSlideshow {
  width: 500px;
  height: 250px;
  overflow: hidden;
  border: 5px solid goldenrod;
  margin: auto auto;
}

.teamPictures {
  display: none;
  width: 100%;
  font-variant: small-caps;
  font-weight: bold;
}

.contactform {
  background-image: linear-gradient(#2e1503, #65350f, #2e1503);
  border: 2px solid goldenrod;
  float: right;
  padding-right: 20px;
  padding-top: 20px;
}
.contactform form div {
  display: table-row;
  padding-left: 20px;
}

.contactform form div label {
  display: table-cell;
  font-family: "Georgia", serif;
  font-weight: bold;
  text-align: left;
  color: goldenrod;
  vertical-align: top;
  padding-bottom: 15px;
  padding-right: 5px;
  padding-left: 10px;
}

.contactform form div input {
  display: table-cell;
  font-family: "Georgia", serif;
}

.contactform form div textarea {
  display: table-cell;
  font-family: "Georgia", serif;
  height: 150px;
  width: 200px;
}

#submitbutton {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contactform button {
  background-image: linear-gradient(#2e1503, #65350f, #2e1503);
  border: 1px solid goldenrod;
  color: goldenrod;
  font-family: "Georgia", serif;
  font-size: 15px;
  font-weight: bold;
}
