body {
  background: black;
}

.MCTrial-header {
  background-image: linear-gradient(#2E1503, #65350F, #2E1503);
  overflow: hidden;
  border-bottom: 5px solid black;
}

#topbar {
  display: table;
  width: 100%;
  text-align: center;
}

.MCTrial-header h1 {
  color: goldenrod;
  text-align: center;
  font-family: "Bookman", serif;
  font-variant: small-caps;
  font-weight: bold;
  padding-left: 0px;
  display: table-cell;
  font-size: 32px;
}

#headerleft {
  float: left;
  display: table-cell;
  border-collapse: collapse;
  padding-right: 20px;
  padding-top: 20px;
  width: 50px;
  transform: scaleX(-1)
}

#headerright {
  float: right;
  display: table-cell;
  border-collapse: collapse;
  padding-right: 20px;
  padding-top: 20px;
  width: 50px;
}

.MCTrial-header a {
  float: left;
  color: goldenrod;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Bookman", serif;
  font-style: italic;
  font-size: 20px;
}

.MCTrial-header a:hover {
  background-color: black;
  color: gold;
}

p {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: goldenrod;
    background: #371D10;
    text-align: center;
    font-family: "Georgia", serif;
    padding-top: 0px;
    padding-bottom: 100px;
}

#introBar {
  width: 300px;
  background: #371D10;
  height: 50px;
}

.contactform {
  float: right;  
  padding-right: 20px;
  padding-top: 20px;
}
.contactform form div{
  display: table-row;
  padding-left: 20px;
}

.contactform form div label {
  display: table-cell;
  font-family: "Georgia", serif;
  font-weight: bold;
  text-align: left;
  color: silver;
  vertical-align: top;
  padding-bottom: 15px;
  padding-right: 5px;
}

.contactform form div input {
  display: table-cell;
  font-family: "Georgia", serif;
}

.contactform form div textarea {
  display: table-cell;
  font-family: "Georgia", serif;
  height: 150px;
  width: 200px;
}

#submitbutton {
  display: inline-block;
  padding-top: 10px;
}

.contactform button {
  background-image: linear-gradient(#2E1503, #65350F, #2E1503);
  border: 1px solid goldenrod;
  color: goldenrod;
  font-family: "Georgia", serif;
  font-size: 15px;
  font-weight: bold;
}
